﻿<!DOCTYPE html>
<html lang="es" ng-app="myApp" ng-controller="myCtrl">
    <head>
        <style>
  .span3 {  
    height: 100px !important;
    overflow: scroll;
}
        }
        </style>
      
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <!--@Styles.Render("~/Content/css")-->
        <!--@Scripts.Render("~/bundles/modernizr")-->

        @Styles.Render("~/Content/bootstrap.min.css")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/Scripts/angular.min.js") 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    </head>
    <body>
        
            
        <!--<div class="container">-->
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#"> ¡Happy Parties! </a>
                </div>
               
                <ul class="nav navbar-nav navbar-right" >
                  <li ng-show="login_normal">@Html.ActionLink("Iniciar sesión", "Login", "Home")</li>
                   <li ng-show="login_admin">@Html.ActionLink("Iniciar como admin", "login_admin", "Home")</li>
                </ul>
              </div>
            </nav>
        <!--</div>-->
            
        <div id="body">
            @RenderSection("featured", required: false)
            <script>
                var app = angular.module("myApp", []);
                app.controller("myCtrl", function ($scope, $location) {
                    $scope.myUrl = $location.absUrl();
                    console.log($scope.myUrl);
                    var login = $scope.myUrl.includes('/Home/Login');
                    var login_admin = $scope.myUrl.includes('/Home/login_admin');
                    if (login || login_admin) {
                        $scope.show_nav = false;
                    } else {
                        $scope.show_nav = true;
                    }

                    if (login_admin) {
                        $scope.login_normal = true;
                        $scope.login_admin = false;
                    }
                    else {
                        $scope.login_admin = true;
                        $scope.login_normal = true;
                    }
                    if (login) {
                        $scope.login_normal = false;
                        $scope.login_admin = true;
                    }
                });
    </script>

            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <br />
        <footer>
            <div class="container">
                Acerca de | Terminos y condiciones | Politica de privacidad
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
