﻿<div class="container" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-lg-3"><br />
            <ul class="nav nav-pills nav-stacked">
                <li class="active">@Html.ActionLink("Inicio", "A2", "Home")</li>
                <li>@Html.ActionLink("Eventos", "A3", "Home")</li>
                <li>@Html.ActionLink("Datos de Sitio", "Index", "Home")</li>
                <li>@Html.ActionLink("Galeria", "A51", "Home")</li>
                <li>@Html.ActionLink("Paquetes", "A61", "Home")</li>
             </ul>
            <br /> <br />
            <div class="panel panel-info">
                 <div class="panel-heading">Panel de avisos del sistema</div>
                 <div class="panel-body">Sin avisos por ahora</div>
            </div>
        </div>
        <div class="col-lg-9"><br />
             <center>
            <h1>Nombre de la empresa</h1>
            <h3 class="text-center">Proximos eventos</h3>
                 </center>
            <center>
            
    <div class="span3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Día de Inicio</th>
                            <th>Hora de Inicio</th>
                            <th>Clave del Evento</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>---</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="filterable-cell">Hoy</td>
                            <td class="filterable-cell">17:00 Hrs</td>
                            <td class="filterable-cell">EVE012</td>
                            <td class="filterable-cell">10/03/2014</td>
                            <td class="filterable-cell">Ramón Chávez</td>
                            <td class="filterable-cell">Consultar</td>
                        </tr>
                        <tr>
                            <td class="filterable-cell">Hoy</td>
                            <td class="filterable-cell">17:00 Hrs</td>
                            <td class="filterable-cell">EVE012</td>
                            <td class="filterable-cell">10/03/2014</td>
                            <td class="filterable-cell">Ramón Chávez</td>
                            <td class="filterable-cell">Consultar</td>
                        </tr>
                        <tr>
                            <td class="filterable-cell">Hoy</td>
                            <td class="filterable-cell">17:00 Hrs</td>
                            <td class="filterable-cell">EVE012</td>
                            <td class="filterable-cell">10/03/2014</td>
                            <td class="filterable-cell">Ramón Chávez</td>
                            <td class="filterable-cell">Consultar</td>
                        </tr>
                        <tr>
                            <td class="filterable-cell">Hoy</td>
                            <td class="filterable-cell">17:00 Hrs</td>
                            <td class="filterable-cell">EVE012</td>
                            <td class="filterable-cell">10/03/2014</td>
                            <td class="filterable-cell">Ramón Chávez</td>
                            <td class="filterable-cell">Consultar</td>
                        </tr>
                        <tr>
                            <td class="filterable-cell">Hoy</td>
                            <td class="filterable-cell">17:00 Hrs</td>
                            <td class="filterable-cell">EVE012</td>
                            <td class="filterable-cell">10/03/2014</td>
                            <td class="filterable-cell">Ramón Chávez</td>
                            <td class="filterable-cell">Consultar</td>
                        </tr>
                        <tr>
                            <td class="filterable-cell">Hoy</td>
                            <td class="filterable-cell">17:00 Hrs</td>
                            <td class="filterable-cell">EVE012</td>
                            <td class="filterable-cell">10/03/2014</td>
                            <td class="filterable-cell">Ramón Chávez</td>
                            <td class="filterable-cell">Consultar</td>
                        </tr>
                        <tr>
                            <td class="filterable-cell">Hoy</td>
                            <td class="filterable-cell">17:00 Hrs</td>
                            <td class="filterable-cell">EVE012</td>
                            <td class="filterable-cell">10/03/2014</td>
                            <td class="filterable-cell">Ramón Chávez</td>
                            <td class="filterable-cell">Consultar</td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <br />
                <label>Calendario</label> <br />
                <input type="date" class="form-control" />

            </center>
            
            <!--MODAL-->
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog" style="width:70%">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Imagen</h4>
                        </div>
                        <div class="modal-body">
                            <center>
                                <br />
                                <img src="@Url.Content("~/uploads/VS2012.png")" style="width:800px" /><br /><br />
                            </center>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

