﻿<div class="container" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-lg-3"><br />
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("Inicio", "A2", "Home")</li>
                <li>@Html.ActionLink("Eventos", "A3", "Home")</li>
                <li>@Html.ActionLink("Datos de sitio", "Index", "Home")</li>
                <li class="active"><a href="#">Galeria</a></li>
                <li>@Html.ActionLink("Paquetes", "A61", "Home")</li>
           
            </ul>
        </div>
        <div class="col-lg-6">
            <h3 class="text-center">Nombre del salón</h3>
            <center>
                <select class="form-control">
                    <option>Id de salón</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </center>
            <br /><br /><br />
             <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="@Url.Content("~/uploads/login.png")" style="width:200px" />
                    </div>

                    <div class="item">
                        <img src="@Url.Content("~/uploads/login.png")" style="width:200px" />
                    </div>

                    <div class="item">
                        <img src="@Url.Content("~/uploads/login.png")" style="width:200px" />
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <center>
                <br /> <br />
                <button class="btn btn-success" href="#myCarousel" data-slide="prev">Anterior</button>
                <button class="btn btn-success " href="#myCarousel" data-slide="next"> Siguiente</button>
            </center>
             <button class="btn btn-default"  data-toggle="modal" data-target="#myModal">Ver imagen</button>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog" style="width:70%">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Imagen</h4>
                        </div>
                        <div class="modal-body">
                            <center>
                                <br />
                                <img src="@Url.Content("~/uploads/login.png")" style="width:800px" /><br /><br />
                            </center>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        <div class="col-lg-3">
            <br /><br /><br />
            <table border="1">
                <tbody>
                    <tr>
                        <td><input type="radio" name="gender" value="male"></td>
                        <td>Interiores</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="gender" value="male"></td>
                        <td>Exteriores</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="gender" value="male"></td>
                        <td>Todo</td>
                    </tr>
                </tbody>
            </table>
        </div>


