﻿<div class="container" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-lg-3"><br />
            <ul class="nav nav-pills nav-stacked">
                 <li>@Html.ActionLink("Inicio", "A2", "Home")</li>
                <li>@Html.ActionLink("Eventos", "A3", "Home")</li>
                <li>@Html.ActionLink("Datos de Sitio", "Index", "Home")</li>
                <li>@Html.ActionLink("Galeria", "A51", "Home")</li>
                <li class="active">@Html.ActionLink("Paquetes", "A61", "Home")</li>
            </ul>
        </div>
        <div class="col-lg-9"><br />
            <h1 class="text-center">Nombre del salón</h1>
            <center>
                <select class="form-control">
                    <option>Id de salón</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </center>
            <br /><br /><br />
                <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Salones</a></li>
                <li><a data-toggle="tab" href="#menu1">Banquetes</a></li>
                <li><a data-toggle="tab" href="#menu2">Decoración</a></li>
                <li><a data-toggle="tab" href="#menu3">Entretenimiento</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <table border="1" width="600">
                <tbody>
                    <tr>
                        <td height="150">Interiores</td>
                        <td height="150">Exteriores</td>
                    </tr>
                    <tr>
                        <td height="150">Interiores</td>
                        <td height="150">Exteriores</td>
                    </tr>
                   </tbody>
            </table>
                        <div>
                <br /><br />
                <button class="btn btn-success">Agregar nuevo</button>
                <button class="btn btn-primary pull-right">Editar</button>
            </div>
                    </div>

                <div id="menu1" class="tab-pane fade">
                          <table border="1" width="600">
                <tbody>
                    <tr>
                        <td height="150">Interiores</td>
                        <td height="150">Exteriores</td>
                    </tr>
                    <tr>
                        <td height="150">Interiores</td>
                        <td height="150">Exteriores</td>
                    </tr>
                   </tbody>
            </table>
                        <div>
                <br /><br />
                <button class="btn btn-success">Agregar nuevo</button>
                <button class="btn btn-primary pull-right">Editar</button>
            </div>
                    </div>
                <div id="menu2" class="tab-pane fade">
                           <table border="1" width="600">
                <tbody>
                    <tr>
                        <td height="150">Interiores</td>
                        <td height="150">Exteriores</td>
                    </tr>
                    <tr>
                        <td height="150">Interiores</td>
                        <td height="150">Exteriores</td>
                    </tr>
                   </tbody>
            </table>
                        <div>
                <br /><br />
                <button class="btn btn-success">Agregar nuevo</button>
                <button class="btn btn-primary pull-right">Editar</button>
            </div>
                    </div>
                      <div id="menu3" class="tab-pane fade">
                           <table border="1" width="600">
                <tbody>
                    <tr>
                        <td height="150">Interiores</td>
                        <td height="150">Exteriores</td>
                    </tr>
                    <tr>
                        <td height="150">Interiores</td>
                        <td height="150">Exteriores</td>
                    </tr>
                   </tbody>
            </table>
                              <div>
                <br /><br />
                <button class="btn btn-success">Agregar nuevo</button>
                <button class="btn btn-primary pull-right">Editar</button>
            </div>
                    </div>
            </div>
        </div>
    </div>
</div>

