﻿<div class="container" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-lg-3"><br />
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("Inicio", "A2", "Home")</li>
                <li>@Html.ActionLink("Eventos", "A3", "Home")</li>
                <li class="active"><a href="#">Datos de sitio</a></li>
                <li>@Html.ActionLink("Galeria", "A51", "Home")</li>
                <li>@Html.ActionLink("Paquetes", "A61", "Home")</li>
            </ul>
        </div>
        <div class="col-lg-9"><br />
            <h1 class="text-center">Nombre del salón</h1>
            <center>
                <select class="form-control">
                    <option>Id de salón</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </center>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">General</a></li>
                <li><a data-toggle="tab" href="#menu1">Detalles</a></li>
                <li><a data-toggle="tab" href="#menu2">Croquis</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="container"><br />
                                <strong>CAPACIDAD</strong><br />
                                <span>Capacidad minima: 20</span><br />
                                <span>Capacidad maxima: 20</span><br /><br />
                                <strong>UBICACION</strong><br />
                                <span>Calle: Oriente 171</span><br />
                                <span>No exterior: 234</span><br />
                                <span>No interior: </span><br />
                                <span>Colonia: Primavera</span><br />
                                <span>Delegacion / Municipio: Iztacalco</span><br />
                                <span>Estado: Ciudad de Mexico</span><br />
                                <span>Pais: Mexico</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="container"><br />
                                <strong>CARACTERISTICAS</strong><br />
                                <span>Escenarios: Interior, Exterior, Interior / Exterior</span><br />
                                <span>Superficie: 50 m2</span><br />
                                <span>Niveles: 2</span><br />
                                <span>Estacionamiento: no</span><br />
                                <span>Capacidad estacionamiento: ninguna</span><br />
                                <span>No Servicios: 3</span><br />
                                <span>Area de cocina: Si </span><br />
                                <span>Contruccion: 200 m2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="container">
                                <br />
                                <strong>NIVEL: PB</strong><br />
                                <span>Area: jardin</span><br />
                                <span>Tamaño: jardin</span><br />
                                <span>Capacidad maxima: jardin</span><br />
                                <span>Equipo:</span><br />
                                <span>1.-Carpa</span><br />
                                <span>2.-Asador</span><br /><br />
                                <strong>Nivel 1</strong><br />
                                <span>Area: Balcon</span><br />
                                <span>Tamaño: 25 m2</span><br />
                                <span>Capacidad maxima: 30</span><br />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="container">
                                <br /><br />
                                <span>Area:Salon principal</span><br />
                                <span>Tamaño:Salon principal</span><br />
                                <span>Capacidad maxima:Salon principal</span><br />
                                <span>Equipo:Salon principal</span><br />
                                <span>Area:Salon principal</span><br />
                                <span>Tamaño:40 m2</span><br />
                                <span>Capacidad maxima:100</span><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <center>
                        <br />
                        <img src="@Url.Content("~/uploads/VS2012.png")" style="width:600px" /><br /><br />
                    </center>
                   
                    <button class="btn btn-default"  data-toggle="modal" data-target="#myModal">Ver imagen</button>
                </div>
            </div>
            <!--BUTTONS-->
            <div>
                <br /><br />
                <button class="btn btn-success">Agregar nuevo</button>
                <button class="btn btn-primary pull-right">Editar</button>
            </div>
            <!--MODAL-->
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog" style="width:70%">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Imagen</h4>
                        </div>
                        <div class="modal-body">
                            <center>
                                <br />
                                <img src="@Url.Content("~/uploads/VS2012.png")" style="width:800px" /><br /><br />
                            </center>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

