﻿<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <center>
                <img src="@Url.Content("~/uploads/login.png")" style="width:200px" />
            </center>
        </div>
        <div class="col-lg-6">
            <form>
                <center>
                    <h4>Iniciar sesión</h4>
                </center>
                <label>Correo electronico:</label>
                <input type="text" class="form-control"/>
                <label>Contraseña:</label>
                <input type="text" class="form-control"/><br />
                <center>
                <button class="btn btn-success">Entrar</button>
                <button class="btn btn-primary">Registrarse</button>
                </center>
              </form>
        </div>
    </div>
</div>