﻿<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="@Url.Content("~/uploads/salon1.jpg")" style="width:450px" />
                </div>

                <div class="item">
                  <img src="@Url.Content("~/uploads/salon2.jpg")" style="width:450px" />
                </div>

                <div class="item">
                  <img src="@Url.Content("~/uploads/salon3.jpg")" style="width:450px" />
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
        <div class="col-lg-6">
            <form>
                <center>
                <h2>Administrador</h2> 
                </center>
                <label>Correo electronico</label>
                <input class="form-control" type="text"/>
                <label>Contraseña</label>
                <input class="form-control" type="text"/>
            </form>
        </div>
    </div>
</div>